.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.30;
}

.sidebar__header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgrey;
}

.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 8vw;
}

.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    padding: 20px;
    height: 10px;
}

.sidebar__searchContainer {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    height: 35px;
    width: 100%;
}

.sidebar__searchContainer > .MuiSvgIcon-root {
    color: grey;
    margin-left: 10px;
}

.sidebar__searchContainer > input {
    border: none;
    font-size: 13px;
}

.sidebar__chats{
    flex: 1;
    overflow: scroll;
    background-color: blue;
}